/Programa_Solid/nbproject/private/
/Programa_Solid/build/
/Tarea1_Solid/target/
/proyecto_solid_calculadora/target/
/SOLID_ABIERTO_CERRADO/target/
/Laboratorios/Laboratorio 1/Inversion_de_liskov/target/
/Builder/target/
/Laboratorios/Laboratorio 2/Zoologico/target/
